@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo!!</h1>
    <p>Acesse a videoteca de <a href="Movies">FILMES</a>.</p>
</div>
